
body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
a{
    color: inherit;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo img{
    max-width: 600px;
    max-height: 160px;
}
.enter-logo img{
    display: block;
    margin: 0 auto;
    margin-top: 160px;
}
.container{
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-list{
    margin-top: 100px;
}

.main-list li{
    font-size: 40px;
    margin-left: 50px;
    text-transform: uppercase;
    margin-top: 20px;
}
.openable-list{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.openable-list p{
    position: relative;
    cursor: pointer;
    
}
.openable-list p::before{
    position: absolute;
    content: "";
    top: calc(50% - 3.5px);
    left: -25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #545454;
    transition: 0.5s;
}
.openable-list .text-header::before {
    position: absolute;
    content: "";
    top: calc(50% - 7.5px);
    left: -28.1px;
    width: 7px;
    height: 7px;
    border: 4px solid #A6A6A6;
    border-radius: 50%;
    background-color: #545454;
}
.openable-list .text-header::after {
    content: ''; 
    position: absolute;
    left: -50px;
    top: calc(50% - 5px);
    border: 5px solid transparent;
    border-left: 10px solid #545454;
    transition: 0.5s;
    
}
.openable-list .text-header.extended-list::after {

    transform: rotate(90deg);
    transition: 0.5s;
    top: calc(50% - 2px);
}

.openable-list .text-header:hover::before{
    border-color: white;
    transition: 0.5s;
}
.openable-list .text-header:hover::after{
    border-left: 10px solid white;
    transition: 0.5s;
}

.secondary-list li{
    font-size: 30px;
    text-transform: capitalize;
}
.third-list li {
    font-size: 20px;
}


.form{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.form input{
    background-color: #282828;
    border: none;
    padding: 10px;
    color: white;
    margin-right: 30px;
}
.button{
    background-color: #5F5F5F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacts-modal{
    background-color: inherit;
    color: white;
    border: none;
    cursor: pointer;
}
.footer-container{
    margin-top: 0;
    margin-bottom: 0;
    align-items: stretch;
}
.modal{
    --modal-width: 750px;
	text-align: left;
	max-width: var(--modal-width);
    padding: 10px;
    background-color: #F9F9F9;
    position: absolute;
    top: 100px;
    height: 100vh;
    overflow-y: scroll;
    left: calc(50% - var(--modal-width) / 2);
}
.modal-close{
    padding: 0;
    background-color: transparent;
    border: none;
    position: sticky;
    width: 20px;
    height: 20px;
    top: 10px;
    left: var(--modal-width);
    z-index: 1000;
    cursor: pointer;
}
@media (max-width: 768px){
    .container {
        max-width: 600px;
    }
    .main-list li{
        font-size: 30px;
    }
    .secondary-list li {
        font-size: 20px;
    }
    .third-list li {
        font-size: 15px;
    }
    .form{
        flex-direction: column;
        align-items: center;
    }
    .logo img{
        width: 300px;
    }
    .form input{
        margin-right: 0;
        margin-top: 30px;
    }
    .button{
        margin-top: 30px;
    }
    .contacts{
        flex-direction: column;
        align-items: center;
    }
    .contacts-modal{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .modal{
        left: 0;
    }
    
}
.none{
    transition: 2s;
    display: none;
}

