
html{
    height: 100%;
}
body {
    height: 100%;
    background-color: black;
    color: white;
    margin: 0;
    position: relative;
    font-family: 'Orienta', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.inner-link {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
h2 {
    font-size: 50px;
    font-weight: bold;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-grow: 1;
}
.inner-logo{
    margin: 50px auto;
}
.logo img{
    max-width: 600px;
    max-height: 160px;
}
.enter-logo img{
    display: block;
    margin: 0 auto;
}
.container{
    height: 100%;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.opened .logo{
margin-top: 160px;
}
.main-list{
    margin-top: 50px;
    margin-bottom: 100px;
    flex-grow: 1;
    text-transform: capitalize;
}
.main-list li{
    font-size: 40px;
    margin-left: 25px;
    margin-top: 20px;
}
.secondary-list li{
    font-size: 20px;
}
.third-list li{
    font-size: 15px;
}
.openable-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.openable-list p,
.openable-list a{
    position: relative;
    cursor: pointer;
    
}
.openable-list p::before,
.openable-list a::before{
    position: absolute;
    content: "";
    top: 15px;
    left: -22px;
    width: 7px;
    height: 7px;
    border: 4px solid #A6A6A6;
    border-radius: 50%;
    background-color: #545454;
}
.openable-list .secondary-list p::before,
.openable-list .secondary-list a::before {
    top: 4px;
}
.openable-list .third-list p::before,
.openable-list .third-list a::before {
    top: 2px;
}
/* .openable-list .text-header::before {
    position: absolute;
    content: "";
    top: calc(50% - 7.5px);
    left: -28.1px;
    width: 7px;
    height: 7px;
    border: 4px solid #A6A6A6;
    border-radius: 50%;
    background-color: #545454;
} */
/* .openable-list .text-header::after {
    content: ''; 
    position: absolute;
    left: -50px;
    top: calc(50% - 5px);
    border: 5px solid transparent;
    border-left: 10px solid #545454;
    transition: 0.5s;
} */
.arrow-item {
    position: relative;
    text-transform: capitalize;
}
.secondary-item{
    font-size: 17px;
}
.openable-list .arrow-item::before {
    content: ''; 
    position: absolute;
    right: 0;
    top: 16px;
    border: 5px solid transparent;
    border-left: 10px solid #545454;
    transition: 0.5s;
}
.openable-list .secondary-item::before {
    top: 17px;
}
.openable-list .arrow-item.extended-list::before {

    transform: rotate(90deg);
    transition: 0.5s;
}

.openable-list p:hover::before,
.openable-list a:hover::before{
    border-color: white;
    transition: 0.5s;
}
.openable-list .arrow-item:hover::before{
    border-left: 10px solid white;
    transition: 0.5s;
}


.form{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.form input{
    background-color: #282828;
    border: none;
    padding: 10px;
    color: white;
    margin-right: 30px;
}
.button{
    background-color: #5F5F5F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacts-modal{
    background-color: inherit;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.footer-container{
    margin-top: 0;
    margin-bottom: 0;
    align-items: stretch;
    flex-shrink: 0;
    font-size: 16px;
}
.modal{
    --modal-width: 750px;
	text-align: left;
	max-width: var(--modal-width);
    padding: 10px;
    background-color: #F9F9F9;
    position: absolute;
    top: 100px;
    height: 100vh;
    overflow-y: scroll;
    left: calc(50% - var(--modal-width) / 2);
}
.modal-close{
    padding: 0;
    background-color: transparent;
    border: none;
    position: sticky;
    width: 20px;
    height: 20px;
    top: 10px;
    left: var(--modal-width);
    z-index: 1000;
    cursor: pointer;
}
.breadcrumbs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.breadcrumbs-item{
    margin-right: 50px;
    position: relative;
}
.breadcrumbs-item:last-child{
    margin-right: 0;
}
.breadcrumbs-item::before{
    position: absolute;
    content: "";
    top: -1px;
    left: -33px;
    background: url('./arrow.png') 50% 50% no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}
.first-item::before {
    display: none;
}
@media (max-width: 768px){
    .container {
        padding: 0;
        max-width: 600px;
    }
    .opened .logo{
        margin-top: 100px;
        }
    .main-list{
        margin-top: 50px;
    }
    .form{
        flex-direction: column;
        align-items: center;
    }
    .logo img{
        width: 300px;
        max-height: 80px;
    }
    .form input{
        margin-right: 0;
        margin-top: 30px;
    }
    .button{
        margin-top: 30px;
    }
    .contacts{
        flex-direction: column;
        align-items: center;
    }
    .contacts-modal{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .modal{
        left: 0;
    }
    .openable-list .arrow-item::before {
        top: 15px;
    }
    .openable-list .secondary-item::before {
        top: 8px;
    }
    .openable-list p::before,
    .openable-list a::before{
    top: 15px;
}
.openable-list .secondary-list p::before,
.openable-list .secondary-list a::before {
    top: 5px;
}
.openable-list .third-list p::before,
.openable-list .third-list a::before {
    top: 2px;
}
.breadcrumbs{
    justify-content: center;
    align-items: center;
}

    
}
.none{
    transition: 2s;
    display: none;
}

