
body {
    background-color: black;
    color: white;
    margin: 0;
}
a{
    color: inherit;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo img{
    width: 500px;
}
.enter-logo img{
    display: block;
    width: 800px;
    margin: 0 calc(50% - 400px);
    margin-top: 160px;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 150px;
}
.main-list{
    margin-top: 100px;
}

.main-list li{
    font-size: 40px;
    margin-left: 50px;
    text-transform: uppercase;
    margin-top: 20px;
}
.openable-list p{
    position: relative;
    cursor: pointer;
    
}
.openable-list p::before{
    position: absolute;
    content: "";
    top: calc(50% - 3.5px);
    left: -25px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #545454;
    transition: 0.5s;
}
.openable-list .text-header::before {
    position: absolute;
    content: "";
    top: calc(50% - 7.5px);
    left: -28.1px;
    width: 7px;
    height: 7px;
    border: 4px solid #A6A6A6;
    border-radius: 50%;
    background-color: #545454;
}
.openable-list .text-header::after {
    content: ''; 
    position: absolute;
    left: -50px;
    top: calc(50% - 5px);
    border: 5px solid transparent;
    border-left: 10px solid #545454;
    transition: 0.5s;
    
}
.openable-list .text-header.extended-list::after {

    transform: rotate(90deg);
    transition: 0.5s;
    top: calc(50% - 2px);
}

.openable-list .text-header:hover::before{
    border-color: white;
    transition: 0.5s;
}
.openable-list .text-header:hover::after{
    border-left: 10px solid white;
    transition: 0.5s;
}

.secondary-list li{
    font-size: 30px;
    text-transform: capitalize;
}
.third-list li {
    font-size: 20px;
}


.form{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.form input{
    background-color: #282828;
    border: none;
    padding: 10px;
    color: white;
    margin-right: 30px;
}
.button{
    background-color: #5F5F5F;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-container{
    margin-top: 0;
    margin-bottom: 0;
}
@media (max-width: 768px){
    .form{
        flex-direction: column;
        align-items: center;
    }
    .form input{
        margin-right: 0;
        margin-top: 30px;
    }
    .button{
        margin-top: 30px;
    }
}
.none{
    transition: 2s;
    display: none;
}